* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(11px) saturate(108%);
  -webkit-backdrop-filter: blur(11px) saturate(108%);
  background-color: #f0f0f054;
  border-radius: 12px;
  border: 1px solid #ffffff29;
  box-shadow: 0 8px 32px 0 #1f26855f;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffffcc;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 12px;
  border: 1px solid gray;
  box-shadow: 0 8px 32px 0 black;
  padding: 20px;
  color: black;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 14px black;
  outline: none;
  transition: box-shadow 0.2s ease;
}
.header button {
  width: 100%;
  padding: 12px 16px;

  border: none;
  color: white;

  background: red;

  border-radius: 12px;

  box-shadow: 0 4px 14px #00000020;

  transition: transform 0.2s ease, background 0.2s ease;

  cursor: pointer;
}
.body {
  max-height: 60vh;
  overflow-y: scroll;

  padding-right: 10px;

  border: 1px solid #02020227;
  border-radius: 12px;

  background: white;

  box-shadow: 0 4px 14px #0000003a;

  padding-bottom: 20px;
}

.list-item {
  padding: 12px 16px;

  margin-bottom: 10px;

  background: white;

  border-radius: 8px;

  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.096);

  transition: transform 0.2s ease, background 0.2s ease;

  cursor: pointer;
}
@media (max-width: 767px) {
  .header input,
  .header button,
  .form-container {
    width: 100%;
    max-width: 100%;
  }

  .list-item {
    padding: 10px 14px;
    font-size: 15px;
  }
}
